@charset "utf-8";

.contents01 {
  margin: 325px auto 0;
  padding: 0 15px 65px;
  width: 1420px;
  position: relative;
  display: flex;
}
.contents01::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 460px;
  border-radius: 30px;
  background-color: rgba(233, 214, 229, 0.4);
  z-index: -999;
}
.contents01 .notice {
  display: flex;
}
.contents01 .notice .nbox {
  width: 800px;
  height: 600px;
  position: relative;
}
.contents01 .notice .nbox > img {
  width: 800px;
  height: 600px;
  object-fit: cover;
}
.contents01 .notice .nbox .box_size {
  width: 762px;
  height: 436px;
  overflow: hidden;
  position: absolute;
  bottom: 25px;
  left: 12px;
}
.contents01 .notice .nbox .nimg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}
.contents01 .notice .nbox .nimg > ul {
  display: flex;
  width: 3048px;
  position: relative;
}
.contents01 .notice .nbox .nimg > ul > li {
  width: 762px;
  height: 436px;
}
.contents01 .notice .nbox .nimg > ul > li > a {
}
.contents01 .notice .nbox .nimg > ul > li > a > img {
  width: 100%;
  height: 100%;
}
.contents01 .notice .nbox .nbtn {
  display: flex;
  position: absolute;
  bottom: 40px;
  right: 80px;
}
.contents01 .notice .nbox .nbtn > span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--purple);
  margin-right: 10px;
  cursor: pointer;
}
.contents01 .notice .nbox .nbtn > span:last-child {
  margin-right: 0;
}
.contents01 .notice .nbox .nbtn .btn.active {
  background-color: var(--navy100);
}

/* event */

.event {
  margin: 85px 0 0 70px;
}
.event .first_line {
  margin-bottom: 15px;
}
.event .first_line > a {
}
.event .first_line > a > div {
}
.event .sec_line {
}
.event .sec_line > a {
}
.event .sec_line > a > div {
}
.event .first_line,
.sec_line {
  display: flex;
}
.event .first_line > a,
.sec_line > a {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* background-color: red; */
}
.event .first_line > a > div,
.sec_line > a > div {
  /* background-color: blue; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* event 01 */
.event .first_line > a .ev01 {
  background: url(../../images/event1_bg.png) no-repeat center/250px;
  margin-right: 25px;
}
.event .first_line > a .ev01 > p {
}
@charset "utf-8";

.contents01 {
  margin: 325px auto 0;
  padding: 0 15px 65px;
  width: 1420px;
  position: relative;
  display: flex;
}
.contents01::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 460px;
  border-radius: 30px;
  background-color: rgba(233, 214, 229, 0.4);
  z-index: -999;
}
.contents01 .notice {
  display: flex;
}
.contents01 .notice .nbox {
  width: 800px;
  height: 600px;
  position: relative;
}
.contents01 .notice .nbox > img {
  width: 800px;
  height: 600px;
  object-fit: cover;
}
.contents01 .notice .nbox .box_size {
  width: 762px;
  height: 436px;
  overflow: hidden;
  position: absolute;
  bottom: 25px;
  left: 12px;
}
.contents01 .notice .nbox .nimg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}
.contents01 .notice .nbox .nimg > ul {
  display: flex;
  width: 3048px;
  position: relative;
}
.contents01 .notice .nbox .nimg > ul > li {
  width: 762px;
  height: 436px;
}
.contents01 .notice .nbox .nimg > ul > li > a {
}
.contents01 .notice .nbox .nimg > ul > li > a > img {
  width: 100%;
  height: 100%;
}
.contents01 .notice .nbox .nbtn {
  display: flex;
  position: absolute;
  bottom: 40px;
  right: 80px;
}
.contents01 .notice .nbox .nbtn > span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--purple);
  margin-right: 10px;
  cursor: pointer;
}
.contents01 .notice .nbox .nbtn > span:last-child {
  margin-right: 0;
}
.contents01 .notice .nbox .nbtn .btn.active {
  background-color: var(--navy100);
}

/* event */

.event {
  margin: 85px 0 0 70px;
}
.event .first_line {
  margin-bottom: 15px;
}
.event .first_line > a {
}
.event .first_line > a > div {
}
.event .sec_line {
}
.event .sec_line > a {
}
.event .sec_line > a > div {
}
.event .first_line,
.sec_line {
  display: flex;
}
.event .first_line > a,
.sec_line > a {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* background-color: red; */
}
.event .first_line > a > div,
.sec_line > a > div {
  /* background-color: blue; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* event 01 */
.event .first_line > a .ev01 {
  background: url(../../images/event1_bg.png) no-repeat center/250px;
  margin-right: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.event .first_line > a .ev01 > p {
  color: var(--blue);
  text-shadow: 1px 1px 1px rgba(114, 135, 182, 0.68);
  text-align: center;
}
.event .first_line > a .ev01 .p01 {
  font-size: 26px;
}
.event .first_line > a .ev01 .p02 {
  font-size: 26px;
  font-family: var(--eventDiff-font);
  color: var(--navy);
  line-height: 1.6;
}
.event .first_line > a .ev01 .p03 {
  margin-top: 10px;
  font-size: 18px;
}
.event .first_line > a .ev01 .p04 {
  font-size: 18px;
}

/* event 02 */
.event .first_line > a .ev02 {
  background: url(../../images/event2_bg.png) no-repeat center/250px;
}