@charset "utf-8";

.contents02 {
  margin-top: 140px;
  width: 100%;
}
.contents02 .shop {
  color: var(--mainMenu-color);
}
.contents02 .shop .gift .shop_title {
  font-family: var(--mainMenu-font);
  font-size: 26px;
}
.contents02 .shop .gift {
  width: 318px;
  height: 318px;
  border-radius: 50%;
  /* overflow: hidden; */
}
.contents02 .shop .gift > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.contents02 .shop .gift .shop_text {
  width: 300px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3px 5px;
}

/* shop 01 */
.contents02 .shop .shop01 {
  width: 838px;
  height: 667px;
  background: url(../../images/store_bg_1.png) no-repeat center/838px 667px;
}
.contents02 .shop .shop01 .gift {
  margin-left: 535px;
}
.contents02 .shop .shop01 .gift > img {
}
.contents02 .shop .shop01 .gift > h2.shop_title {
}
.contents02 .shop .shop01 .gift > div.shop_text {
}
.contents02 .shop .shop01 .gift > div.shop_text > p.st01 {
}
.contents02 .shop .shop01 .gift > div.shop_text > p.st02 {
}

/* shop 02 */
.contents02 .shop .shop02 {
  width: 871px;
  height: 859px;
  background: url(../../images/store_bg_2.png) no-repeat center/871px 859px;
}
.contents02 .shop .shop02 > a {
}
.contents02 .shop .shop02 .gift {}
.contents02 .shop .shop02 .gift > img {}
.contents02 .shop .shop02 .gift > h2.shop_title {}
.contents02 .shop .shop02 .gift > div.shop_text {}
.contents02 .shop .shop02 .gift > div.shop_text > p.st01 {}
.contents02 .shop .shop02 .gift > div.shop_text > p.st02 {
}

/* shop 03 */
.contents02 .shop .shop03 {
  width: 924px;
  height: 644px;
  background: url(../../images/store_bg_3.png) no-repeat center/974px 644px;
}
.contents02 .shop .shop03 .gift {
}
.contents02 .shop .shop03 .gift > img {
}
.contents02 .shop .shop03 .gift > h2.shop_title {
}
.contents02 .shop .shop03 .gift > div.shop_text {
}
.contents02 .shop .shop03 .gift > div.shop_text > p.st01 {
}
.contents02 .shop .shop03 .gift > div.shop_text > p.st02 {
}

/* shop 04 */
.contents02 .shop .shop04 {
  width: 933px;
  height: 544px;
  background: url(../../images/store_bg_4.png) no-repeat center/933px 544px;
}
.contents02 .shop .shop04 .gift {
}
.contents02 .shop .shop04 .gift > img {
}
.contents02 .shop .shop04 .gift > h2.shop_title {
}
.contents02 .shop .shop04 .gift > div.shop_text {
}
.contents02 .shop .shop04 .gift > div.shop_text > p.st01 {
}
.contents02 .shop .shop04 .gift > div.shop_text > p.st02 {
}
