@charset "utf-8";

/* 여백 초기화 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* clearfix */
.clearfix::after,
.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
  font-family: var(--mainAll-font), "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
}

/* 링크 초기화 */
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

/* 스타일 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 16px;
}
li {
  list-style: none;
}
em,
address {
  font-style: normal;
}
strong {
  font-weight: normal;
}
img {
  display: block;
  width: 100%;
}
