@charset "utf-8";

:root {
  --mainMenu-font: "Tmon";
  --mainAll-font: "Sukmyung";
  --eventDiff-font: "Sacheonhanggong";

  --mainHover-color: rgba(51, 51, 51, 0.4);
  --mainMenu-color: #696e91;
  --subMenu-color: #c5bcd5;
  --subBg-color: rgba(233, 214, 229, 0.4);

  --white: #ffffff;
  --navy: #696e91;
  --navy100: #717fa7;
  --purple: #9da2c2;
  --purple100: #c5bcd5;
  --pink: #e9d6e5;
  --blue: #ced5e5;
  --ivory: #feeedf;
  --mint: #cee8db;

  /* 기본 폰트 설정 */
  font-family: var(--mainAll-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  /* 폰트 소프트 랜더링 */
  font-synthesis: none; /*폰트 합성 중첩X*/
  text-rendering: optimizeLegibility; /*가독성 강조*/
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
